/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
//general stuff for the whole site
body {
    font-family: "Lato", sans-serif;
    background: #EDEFF0
}

.button{
    color:#397CAC;
    border:1px solid #397CAC;
    //padding between text and the border, x and y
    padding: .5em 1em;
    //curvy corners of button
    border-radius: 0.2em;
    //removes the line under the link
    text-decoration: none;
    margin-right: 2%;
}

//generic settings for content everywhere
.wrapper {
    //ensures full screen spread
    width: 60%;
    max-width: 1140px;
    margin: 0 auto;   
}

// clearfix is for pushing the forum posts down below the header
.clearfix:before, .clearfix:after{
    content: " ";
    display:table;
}
.clearfix:after{
    clear:both;
}

.main_header{
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    margin: 0 auto;
    background: white;
    #logo{
        
        float: left;
        padding-top: 4%;
        a{
            //logo text manip. I -
           
            text-transform: downcase;
            font-weight: 700;
            letter-spacing: -1px;
            font-size: 1.5rem;
            color: grey;
            text-decoration: none;
            img{
                max-width:50px;
                height:auto;
            }
           
        }
    }
    #buttons{
        float:right;
        a{
            line-height: 84px;
            background: #397CAC;
            padding: .5em 1em;
            border-radius: .2em;
            color: white;
            text-decoration: none;
            font-weight:100;
        
        }
    }
}

#posts{
    //the block holding ALL the displayed posts
    background: white;
    padding: 2em 5%;
    border-radius: .5em;
    padding-top: 0;
    .post{
        //each post block in the above
        margin: 1em 0;
        padding: 1em 0;
        border-bottom: 1px solid #d1d1d1;
        .title{
            //the title/link of the post
            margin:0;
            a{
                //what the link looks like
                color: #397CAC;
                text-decoration: none;
                font-weight: 100;
                font-size:1.25rem;
            }
        }
        .date{
            //the date/emailstamp
            margin-top:.25rem;
            font-size:0.9rem;
            color:#B2BAC2;
        }
        
    }
}
#posts_content{
    background: white;
    padding: 2em 5%;
    border-radius: .5em;
    
    //post t
    h1{
        font-weight: 100;
        font-size: 2em;
        color: #397CAC;
        margin-top:0;
    }
    p{
        color: #373638;
        font-size: 0.9rem;
        font-weight: 125;
        line-height: 1.5;
    }
    #comments{
        .count{
            padding: 1em;
            font-weight: bold;
        }
        .comment{
            border-bottom: 1px solid #d1d1d1;
            padding-bottom: 1em;
            margin-bottom: 1em;
            .content{
                width: 75%;
                float: left;
            }
            .buttons {
                width: 25%; 
                float: left;
                
                font-size: .8em;
                text-align: right;
                padding-top: 1.5em;
                a{
                    
                    color:#397CAC;
                    border:1px solid #397CAC;
                    //padding between text and the border, x and y
                    padding: .5em 1em;
                    //curvy corners of button
                    border-radius: 0.2em;
                    //removes the line under the link
                    text-decoration: none;
                    margin-right: 2%;
                }
                
            }
            .comment_content{
                margin:0;
                padding:0;
            }
            .comment_author{
                color:#397CAC;
                margin-top:.5rem;
                font-size:0.6em;
                font-weight: 700;
            }
            
        }
        //submit button for forms, specifically comments tho
        input[type="submit"]{
            background: #397CAC;
            border: none;
            color: white;
            font-weight: 100;
            padding: .5em 1em;
            border-radius: .2em;
        }
        textarea{
            width: 100%;
            min-height:200px;
            border:1px solid #d1d1d1;
            border-radius: .2em;
            margin: 1em 0;
            
        }
    }
}//end posts content